body {
  font-family: Helvetica, Arial;
  text-align: center;
  font-size: 14px;
}

H1 {
  font-size:70px
  font-weight:bold;
  color:white;
}

H2 {
  font-size: 32px;
  font-weight: bold;
}

H3 {
  font-size: 23px;
  font-weight: bold;
}

.menuitems {
  font-size: 18px;
  color: white;
}


.copyright {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

.pic {
  background-image: url('../images/the-flatiron-building.png');
}

.white {
  color:white;
}

a:link {
  color:white;
}
